body{
    background-image: url(wall.jpg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.item-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.item-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.item-info p {
    font-size: 16px;
    text-align: center;
}

.item-info p.order-placed {
    color: green;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
#order-placed-message {
    font-size: 24px;
    font-weight: bold;
    color: green; 
    margin-top: 20px;
}
.proceed-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    left: 500px;
    
    
}

.proceed-button:hover {
    opacity: 0.8;
}
